<div class="container mx-auto p-4">
  <h1 style="color: blue; font-weight: bold; font-size: 23px; margin-left: 3px; margin-top: 5px;">【LED装飾】</h1>

  <div class="border-2 border-gray-300 rounded-lg p-4 my-4">
    <div class="flex justify-center">
      <%= image_tag "led1.jpeg", alt: "QRコード", class: "mb-4 object-cover h-auto max-h-96 w-auto max-w-60" %>
    </div>
    <hr style="border-color: #d1d5db;" class="border-2">


    <div class="mt-4">
      <div>
        <h1 class="font-bold text-2xl">概要</h1>
        <p>
          テープLEDを中心とした装飾を行った。テーブルの周りなどにLEDを貼って各ブースの位置がわかりやすくした。
          <br>
        </p>
        <br>
         <h1 class="font-semibold text-lg">【こだわった部分】</h1>
        <p>
          1部のLEDには押しボタンで色が変化していく機構を搭載した。
        </p>
        <br>
        <h1 class="font-semibold text-lg">【苦労した部分】</h1>
        <p>
          購入した4ピンテープLEDのピン配置の理解に苦しんだ。
        </p>
        <br>
         <h1 class="font-semibold text-lg">【見てほしいところ】</h1>
        <p>
          店から買ってきた4ピンテープLEDのピン配置の理解に苦しんだ。
        </p>
        <br>
        <h2 class="font-semibold text-lg">
          チームメンバー
        </h2>
        <p>
          佐藤,
          新川,
          吐田,
          畑,
          藤本

        </p>
      </div>
    </div>
  </div>
</div>