<div class="container mx-auto p-4">
  <h1 style="color: blue; font-weight: bold; font-size: 23px; margin-left: 3px; margin-top: 5px;">【その他】</h1>

  <div class="border-2 border-gray-300 rounded-lg p-4 my-4">
    <div class="flex justify-center">
      <%= image_tag "other2.jpeg", alt: "ブレッドボード", class: "mb-4 object-cover h-auto max-h-96 w-auto max-w-60" %>
    </div>
    <hr style="border-color: #d1d5db;" class="border-2">

    <div class="mt-4">
      <div>
        <h1 class="font-bold text-2xl">概要</h1>
        <p>
          色んな人が作った制作物です！<br>
          種類が色々あるので気になるものから触ってみてください！
        </p>
        <br>
         <h1 class="font-semibold text-lg">【こだわった部分】</h1>
        <p>
          赤、緑、青だけでなく、それらの色を組み合わせて様々な色を光らせることができるところ。
        </p>
        <br>
         <h1 class="font-semibold text-lg">【見てほしいところ】</h1>
        <p>
          電子工学科では有志でこんなソフトウェアを開発しています。もし興味があれば製作者に話を聞くことも出来るかも？
        </p>
        <br>
        <h2 class="font-semibold text-lg">
          著者
        </h2>
        <p>
          吉田
        </p>
      </div>
    </div>
  </div>
</div>