<h1 class="text-3xl font-bold mb-6">管理者用ページ</h1>
<h1 class="text-3xl font-bold mb-6 text-center">ゲームスコア一覧</h1>

<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
    <tr>
      <th class="text-left">User</th>
      <th class="text-left">Game</th>
      <th class="text-left">Score</th>
    </tr>
    </thead>
    <tbody>
    <% @game_scores.each do |game_score| %>
      <tr class="hover:bg-gray-100">
        <td class="py-2 px-4"><%= game_score.user.name %></td>
        <td class="py-2 px-4"><%= game_score.game.title %></td>
        <td class="py-2 px-4"><%= game_score.score %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

