<h1 class="text-4xl font-extrabold text-center mt-8">Information</h1>

<div class="container mx-auto mt-10 p-6 bg-base-200 shadow-lg rounded-lg">
  <ul class="list-none space-y-8">
    <li class="flex flex-col items-center">
      <span class="text-2xl font-semibold">総ユーザー数</span>
      <div class="mt-2 text-3xl text-primary font-bold">
        <span id="users_count"><%= @users_count %></span> 人
      </div>
    </li>
    <li class="flex flex-col items-center">
      <span class="text-2xl font-semibold">入室中のユーザー数</span>
      <div class="mt-2 text-3xl text-accent font-bold">
        <span id="entered_count"><%= @entered_count %></span> 人
      </div>
    </li>
    <li class="flex flex-col items-center">
      <span class="text-2xl font-semibold">退室済みのユーザー数</span>
      <div class="mt-2 text-3xl text-secondary font-bold">
        <span id="exited_count"><%= @exited_count %></span> 人
      </div>
    </li>
    <li class="flex flex-col items-center">
      <span class="text-2xl font-semibold">最高スコア</span>
      <span id="max_score" class="mt-2 text-3xl text-info font-bold"><%= @max_score %></span>
    </li>
  </ul>
</div>

<script>
  function updateStats() {
    fetch('/info/stats')
      .then(response => response.json())
      .then(data => {
        document.getElementById('users_count').innerText = data.users_count;
        document.getElementById('entered_count').innerText = data.entered_count;
        document.getElementById('exited_count').innerText = data.exited_count;
        document.getElementById('max_score').innerText = data.max_score;
      })
      .catch(error => console.error('Error fetching stats:', error));
  }
  console.log('updateStats() called');

  // 5秒ごとにポーリング
  setInterval(updateStats, 5000);
</script>