<h1>Information!!</h1>

<p>Find me in app/views/info/admin.html.erb</p>
<ul>
  <li>総ユーザー数: <%= @users_count %>人</li>
  <li>入室中のユーザー数: <%= @entered_count %>人</li>
  <li>退室済みのユーザー数: <%= @exited_count %>人</li>
  <li>最高スコア: <%= @max_score %></li>
</ul>